/* GENERAL */
@font-face{
    font-family: Origin Tech Demo;
    src: url('../font/web.ttf');
    
    -webkit-text-stroke: 0.1px white;
}

/*.bodySup{
    background-image: url('../img/fondo_nasa.jpg');
}*/

.bodyInf{
    margin-top: -10px;
    background-image: url('../img/fondo_nasa.jpg');
}
.wrapper{
    max-width: 1280px;
    display: block;
    margin: -10px auto 0px;
    padding: 0 10px;
}

/* ALERTS */


.alertTextM{
    width: 50%;
    position: fixed;
    display: block;
    top: 30%;
    left: 25%;
    z-index: 2000;
    border: 1px solid black;
    background-color: white;
    opacity: 1;
    padding: 15px 10px 10px;
    
    font-size: 0.7rem;

}

.alertTextM p{
    color: red;
}

.alertCloseM{
    width: 15px;
    position: absolute;
    top: 3px;
    right: 3px;
    border: 1px solid #DDD;
    border-radius: 15px;
    text-align: center;
}

.alertTextD{
    width: 50%;
    height: 11%;
    position: fixed;
    display: block;
    top: 30%;
    left: 25%;
    z-index: 2000;
    border: 1px solid black;
    background-color: white;
    opacity: 1;
    padding: 25px 10px 10px;
    
    font-size: 0.7rem;

}

.alertTextD p{
    color: red;
}

.alertCloseD{
    width: 15px;
    position: absolute;
    top: 3px;
    right: 3px;
    border: 1px solid #DDD;
    border-radius: 15px;
    text-align: center;
    color: black;
}

/* HEADER */

.logo{
    padding-top: 15px;
}

#localHeader{
    background-image: url("../img/cartel.png");
    overflow: hidden;
    margin-top: -10px;
    padding-top: 25px;
}

#localHeaderM{
    background-image: url("../img/cartel.png");
    overflow: hidden;
    margin-top: -10px;
    padding-top: 25px;
}

.desktopHeader{
    height: 66px;
    margin-top: -10px;
    font-family: Origin Tech Demo;
    font-size: 3rem;
    color: white;
    text-align: center;
    line-height: normal;
    font-weight: 400;
    -webkit-text-stroke: 0.8px black;
}

.mobileHeader{
    height: 80px;
    font-family: Origin Tech Demo;
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: normal;
    font-weight: 400;
    -webkit-text-stroke: 0.5px black;
}

.mainMenu{
    height: 45px;
    padding: 28px 0px 0px 14px;
}

/* TITLE */

.mainTitle{
    font-size: 2rem;
    line-height: 3rem;
}

.mainTitleDesktop{
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.desktopDescription{
    text-align: center;
    width: 60%;
    margin: 10px 0% 0px 20%;

}

.disclaimer{
    margin: 10px 0px;
    color: red;
    text-align: center;
    font-weight: 600;
}

/* HERO */

.heroImgD{
    max-width: 1280px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.heroImgM{
    width: 100%;
    height: auto;
}

#hero{
    padding: 0px 10px 40px;
    background-color: white;
}

.mainMenuMob{
    height: 27px;
    padding: 12px 0px 0px 6px;
}

.bloqueM{
    padding: 0px 0px 60px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.bloqueD{
    min-height: 65px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.barraEstadoM{
    width: 20%;
    height: 0.6rem;
    border: 1px solid rgb(241, 241, 241);
    background-color: #b9002e;
    margin-bottom: 20px;
}

.barraEstado{
    width: 20%;
    height: 8px;
    border: 1px solid rgb(241, 241, 241);
    background-color: rgb(75,176,253,0.8);
    margin-top: 20px;
    border-radius: 3px;
}

.recaudado{
    color: rgb(75,176,253,0.8);
    font-size: 1.5rem;
}

.subText{
    font-size: 90%;
    color: #656969;
}

.datoNum{
    font-size: 1.5rem;
    color: rgb(104, 104, 104);
}

.mainButton{
    width: 99%;
    height: 42px;
    background-color: rgb(75,176,253,0.8);
    color: white;
    padding-top: 11px;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
}

.mainButton:hover{
    background-color: rgb(75,176,253,1);
}

.secondButton{
    width: 99%;
    height: 35px;
    border: 1px solid rgb(104, 104, 104);
    padding-top: 11px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.6rem;
}

/* MENU */

.menuD{
    height: 65px;
    background-color: #FFF;
    border-top: 1px solid rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
    font-size: small;
    margin-top: -1px;;
}

.menuM{
    width: max-content;
    height: 65px;
    background-color: #FFF;
    border-top: 1px solid rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
    font-size: x-small;
}

.menuM input{
    float: left;
    font-size: x-small;
}

.menuLink{
    text-align: center;
    height: 65px;
    cursor: pointer;
}

.menuLinkM{
    width: 100px;
    height: 65px;
    padding-top: 20px;
}

.menuActive{
    color: black;
    font-weight: 600;
    border-bottom: 3px solid black;
}

.menuActiveM{
    width: 100px;
    text-align: center;
    height: 42px;
    padding-top: 20px;
    color: black;
    font-weight: 600;
    border-bottom: 3px solid black;
}

.menuActive:hover,.menuLink:hover{
    font-weight: 700;
}

/* CONTENT */

.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    }
    
.video-responsive iframe,.video-responsive object,.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


.contentSubTitle{
    margin: 20px 0px 5px;
    font-size: 1.3rem;
}

.contentMiniTitle{
    font-weight: 600;
    margin: 15px 0px 5px;
    font-size: 1.1rem;
}

.content_menuLink{
    height: 35px;
    padding: 15px 0px 0px 5px;
}

.content_menuLink:hover{
    font-weight: 500;
    background-color: rgb(241, 241, 241);
}

.content_menuLink-row{
    margin: 0px;;
}

.menuFixed{
    position: fixed;
    top: 90px;
    width: 13%;
}

.mainMenuFixed{
    position: fixed;
    top: 0px;
    z-index: 100;
}

/* CONTENT */

.campaignD {
    padding: 20px 10px;
    min-height: 2924px;
    background-color: white;
}

.imgContent{
    max-width: 504px;
    display: block;
    margin: 0 auto;
}
.imgContentLogo{
    max-width: 250px;
    display: block;
    margin: 0 auto;
}

/* PROJECT AND REWARDS */

.projectD{
padding: 30px 10px 0px;
background-color: white;
}

.rewardDBlock{
    min-height: 400px;
}

.rewardD{
    transition: all .5s;
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 300px;
    border: 1px solid #e8e6e6;
    display: block;
    margin: 10% 0 0 25%;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.rewardD img{
    transition: all 0.2s;
    width: 75%;
}

.rewardD h4{
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;

}

.rewardD .rewardTitle{
    transition-duration: 0.35s;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 30px;
}

.rewardD ul{
    margin-top: 15px;
    opacity: 0;
}

.rewardD ul li{
    padding-left: 15px;
    line-height: 1.5rem;
}

.rewardD input{
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(75,176,253,0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

.rewardD:hover{
    transition: all .5s;
    background-color: #fbfbfb;
    border-color: #f3f3f3;
}

.rewardD:hover img{
    transition: all 0.2s;
    width: 50%;
    transform: translateY(-20px);
}

.rewardD:hover h4{
    transition-duration: 0.3s;
    font-size: 2rem;
    margin-top: 0px;

}

.rewardD:hover .rewardTitle{
    transition-duration: 0.35s;
    font-size: 1rem;
    margin-top: 10px;
}

.rewardD:hover ul{
    transition-duration: 0.4s;
    margin-top: 10px;
    opacity: 1;
}

.rewardD:hover ul li{
    transition-duration: 0.4s;
    line-height: 1rem;
}

.rewardD:hover input{
    transition-duration: 0.5s;
    opacity: 1;
}

.rewardD:hover input:hover{
    background-color: rgb(75,176,253,1);
}

.rewardM{
    transition: all .5s;
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 410px;
    border: 1px solid #c1c0c0;
    display: block;
    margin: 10% 0 0 6%;
    border-radius: 5px;
    padding: 20px;
}

.rewardM input {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(75,176,253,0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.rewardM h4{
    text-align: center;
    font-size: 3rem;
    margin-top: 35px;
}

.rewardM .rewardTitle{
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 0px 10px;
}

/* FAQs */

.faqD{
    padding: 30px 10px 0px;
    background-color: white;
}

.faq{
    border-top: 1px solid #DDD;
    margin: 20px 0px 0px;
    padding-top: 20px;
}

.fechaFaq{
    font-size: 0.65rem;
    color: #656969;
}

/* COMMENTS */

.commentsM,.commentsD{
    padding: 30px 10px 0px;
    background-color: white;
}

}

/* OUR TEAM */

.teamBlock{
    padding: 20px 10px 0px;
    background-color: white;
}

/* FOOTER */

footer{
    width: 100%;
    height: 75px;
    padding: 60px 10px 0px;
    background-color: white;
}


.bloqueRRSS{
    text-align: center;
    height: auto;
}

.logoRRSS{
    max-width: 30px;
    margin: 0px 100px;
    display: inline-block;
}

.logoRRSSM{
    max-width: 25px;
    margin: 0px 25px;
    display: inline-block;
}
/* ADAPTING */

@media(min-width: 993px){
    
}

@media(max-width: 992px){
    
}
@media(max-width: 768px){
    

}
@media(max-width: 576px){
    .wrapper{
        max-width: 335px;
    }
}